{% extends 'template.html'%} {%block titulo%} Crear Docente {%endblock%} {%block
    cuerpo%}
    <div
      class="col-md-12 d-flex justify-content-center align-items-center"
      style="height: 100vh"
    >
      <div
        class="col-md-6 bg-white rounded py-3 px-5 d-flex justify-content-center align-items-center flex-column"
      >
        <p class="fs-2">Crear Grupo</p>
        <div class="d-flex justify-content-between align-items-center mb-3" style="width:100%">
            <input
                type="time"
                class="form-control" style="margin-right:5px"
                placeholder="Hora inicio"
                aria-label="Hora inicio"
            />
            <input
                type="time"
                class="form-control" style="margin-left:5px"
                placeholder="Hora final"
                aria-label="Hora final"
            />
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3" style="width:100%">
            <input
                type="text"
                class="form-control" style="margin-right:5px"
                placeholder="Nombre"
                aria-label="Nombre"
            />
            <input
              type="text"
              class="form-control" style="margin-left:5px"
              placeholder="Apellido Materno"
              aria-label="Apellido Materno"
            />
        </div>
        <button
          type="button"
          class="btn btn-primary"
          style="width: 210px"
          id="async"
        >
          Crear
        </button>
      </div>
    </div>
      {%endblock%}
    </div>
    