{% extends 'template.html'%} {%block titulo%} Docentes {%endblock%} {%block
cuerpo%}
<div
  style="height: 100vh"
  class="d-flex justify-content-center align-items-center flex-column p-5"
>
  <div
    style="width: 100%"
    class="d-flex justify-content-between align-items-center"
  >
    <p class="fs-2">Listado De Docentes</p>
    <div class="d-flex justify-content-center align-items-center">
      <button
        type="button"
        class="btn btn-outline-primary"
        style="width: 210px"
        onclick="crear()"
      >
        Crear Docente
      </button>
      <input
        type="text"
        class="form-control mx-2"
        aria-label="Text input with checkbox"
        id="filtrado"
        oninput="filtrar(this)"
      />
    </div>
  </div>
  <table class="table scroll" style="width: 90%; text-align: center">
    <thead class="table-dark">
      <tr>
        <th scope="col" style="width: 10%">Código</th>
        <th scope="col" style="width: 20%">Nombres</th>
        <th scope="col" style="width: 20%">Apellido paterno</th>
        <th scope="col" style="width: 20%">Apellido materno</th>
        <th scope="col" style="width: 20%">Email</th>
        <th scope="col" style="width: 10%">Acciones</th>
      </tr>
    </thead>
    <tbody style="height: 100%; max-height: 450px !important; overflow-y: auto">
      {%for i in lista%}
      <tr>
        <th style="width: 10%">{{i.id}}</th>
        <td style="width: 20%">{{i.nombres}}</td>
        <td style="width: 20%">{{i.apellido_paterno}}</td>
        <td style="width: 20%">{{i.apellido_materno}}</td>
        <td style="width: 20%">{{lista2[lista.index(i)]}}</td>
        <td style="width: 10%">
          <a class="iconos" href="/docente/ver/{{i.id}}">
            <i class="fa-regular fa-eye" style="color: #08f"></i>
          </a>
          <a class="iconos" href="/docente/editar/{{i.id}}">
            <i class="fa-regular fa-pen-to-square" style="color: #08f"></i>
          </a>
          <a class="iconos" href="/docente/eliminar/{{i.id}}">
            <i class="fa-solid fa-trash" style="color: #08f"></i>
          </a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <script>
    function crear() {
      location.replace("/docente/crear");
    }

    function filtrar(filtrado) {
      var jsonData = { filtrado: filtrado.value };

      fetch("/api/filtrar_docente", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(jsonData),
      })
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          console.log(data);
          var tabla = document.querySelector("tbody");
          var filas = tabla.getElementsByTagName("tr");

          // Verifica si hay más de una fila (excluye la fila de encabezado)
          for (var i = filas.length - 1; i >= 0; i--) {
            tabla.deleteRow(i);
          }

          var llaves = Object.keys(data.json);
          llaves.forEach((docente) => {
            var fila = tabla.insertRow();
            var celda1 = fila.insertCell();
            var celda2 = fila.insertCell();
            var celda3 = fila.insertCell();
            var celda4 = fila.insertCell();
            var celda5 = fila.insertCell();
            var celda6 = fila.insertCell();
            celda1.className = "w10";
            celda2.className = "w20";
            celda3.className = "w20";
            celda4.className = "w20";
            celda5.className = "w20";
            celda6.className = "w10";
            console.log(data["json"][docente]);
            celda1.innerHTML = data["json"][docente].id;
            celda2.innerHTML = data["json"][docente].nombres;
            celda3.innerHTML = data["json"][docente].paterno;
            celda4.innerHTML = data["json"][docente].materno;
            celda5.innerHTML = data["json"][docente].email;
            celda6.innerHTML =
              "<a href='/docente/ver/" +
              data["json"][docente].id +
              "' class='iconos'><i class='fa-regular fa-eye' style='color: #08f'></i></a><a href='/docente/editar/" +
              data["json"][docente].id +
              "' class='iconos'><i class='fa-regular fa-pen-to-square' style='color: #08f'></i></a><a href='/docente/eliminar/" +
              data["json"][docente].id +
              "' class='iconos'><i class='fa-solid fa-trash' style='color: #08f'></i></a>";
          });
        });
    }
  </script>
  {%endblock%}
</div>
